ENV/*
ENV**/*
env/*
env/**/*
*.DBF
*.pyc
*.sqlite
local_settings.py
Capfile
properties.py
media/admin/**
media/admin/**/*
media/upload/**/*
media/upload/**
media/cache/*
media/cache/**/*
.DS_Store
build/*
_build
build/**/*
dist/*
dist/**/*
*.egg
*.egg-info