{% extends "admin/change_list.html" %}
{% load adminmedia admin_list i18n %}
{% load url from future %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();

		// Calculem el total per la llista
		var total = 0;
		$('tr>td:nth-child(9)').each(function() { 
			total += parseFloat($(this).text());  
			});
		titol = $('#content h1').text()
		$('#content h1').text( 'Total Facturado: ' + total.toFixed(2) + "€" )

        /*$('td').filter(function() {
                return $(this).text().indexOf('Pago') !== -1;
            }).closest('tr').css(
            {'color': '#999'}
        );*/
        $('td:contains("Pago")').css('color', '#a8a8a8')
        $('td:contains("Enviado")').css('color', '#6aa850')
        $('td:contains("Envío")').css('color', '#a84141')
    

    });
})(django.jQuery);
</script>
{% endif %}{% endif %}
{% endblock %}

