{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}
{% load url from future %}


{% block after_field_sets %}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}select2/select2.css">
<script>
var jQuery = django.jQuery;
</script>
<script src="{% load adminmedia %}{% admin_media_prefix %}select2/select2.min.js"></script>
<script>
(function($){
	$(document).ready(function(){
		$('td.amount input').blur(function(){
			var pare = $(this).parent().parent()
			if( $('td.total input', pare).val() == "" ) {
				var qty = $('td.quantity input', pare).val()
				var total = parseFloat( $(this).val() ) * parseFloat( qty )
				$('td.total input', pare).val( total )				
			}
			
		});

		if(jQuery().select2) {
			$('#id_client').select2();		
		}
	})
})(django.jQuery);





</script>

<style>
.datos p span { font-weight:Bold; }
.form-row { overflow:visible; }
</style>
	{% if object_id %}
<div id="" class="module datos" style="padding:10px">
	<h3>Datos del cliente</h3>
	<p><span>{% trans "Email" %}: </span>{{ adminform.form.instance.client.email }}<br/>
	<span>{% trans "Teléfono" %}: </span>{{ adminform.form.instance.client.phone }}<br/>
	{{ adminform.form.instance.client.full_name }}<br />
		{{ adminform.form.instance.client.ship_address }}<br />
		{{ adminform.form.instance.client.ship_pc }} {{ adminform.form.instance.client.ship_city }}<br />
		{{ adminform.form.instance.client.get_ship_provincia_display }}
		</p>
		{% if adminform.form.instance.client.ship_text %}
		<p><strong>Mensaje:</strong><br />
			{{ adminform.form.instance.client.ship_text|linebreaksbr }}
		</p>
		{% endif %}
</div>	
</div>
<div class="module" style="padding:10px">
	<h1 style="padding-right:20px; float:left"><strong>Total: </strong>{{ adminform.form.instance.total }}&euro; 
		<span style="font-size:11px">({{ adminform.form.instance.total_no_ship }})</span></h1> 
		{% if adminform.form.instance.pk %}
		<input type="button" value="Notificar Envío" style="float:left" 
			onclick="window.location.href='{% url 'admin:order_order_notificar_envio' adminform.form.instance.pk  %}'">
		{% endif %}
	<div class="clear"> </div>
</div>
{% endif %}


{% endblock %}

